@import "./variables.scss";
@import url("https://fonts.googleapis.com/css?family=Lalezar");
@import url("https://fonts.googleapis.com/css?family=Lobster");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: $color-1;
  font-family: "Helvetica", arial, sans-serif;
  // transition: all 1s linear !important;
  #root {
    .container {
      position: relative;
    }
  }
}
