@import url("https://fonts.googleapis.com/css?family=Lalezar");
@import url("https://fonts.googleapis.com/css?family=Lobster");
*,
*::before,
*::after {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

html,
body {
  background-color: #0d0d0d;
  font-family: "Helvetica", arial, sans-serif;
}

html #root .container,
body #root .container {
  position: relative;
}

.section {
  height: 100vh;
  width: 100%;
  background-color: #0d0d0d;
  border: 10px solid white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: hidden;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  /* &.isChanging */
  /* .section-container */
}

.section.isChanging {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  border: 25px solid white;
  pointer-events: none !important;
}

.section .section-container {
  position: relative;
  height: 100%;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  border: 0px solid white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-animation: 2.5s ease normal forwards 1 fadein;
          animation: 2.5s ease normal forwards 1 fadein;
  /* filterFx */
}

.section .section-container.filterFx {
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-animation: 2.5s ease normal forwards 1 fadein;
          animation: 2.5s ease normal forwards 1 fadein;
}

@media screen and (max-width: 900px) {
  .section {
    border: 5px solid white;
    /* &.isChanging */
  }
  .section.isChanging {
    border: 15px solid #0d0d0d !important;
  }
}

@-webkit-keyframes sliding-background {
  0%,
  100% {
    background-position: 0 40%;
  }
  50% {
    background-position: 100% 40%;
  }
}

@keyframes sliding-background {
  0%,
  100% {
    background-position: 0 40%;
  }
  50% {
    background-position: 100% 40%;
  }
}

@-webkit-keyframes slide-to-the-left {
  to {
    right: 40px;
  }
}

@keyframes slide-to-the-left {
  to {
    right: 40px;
  }
}

@-webkit-keyframes slide-page-to-left {
  to {
    left: -200px;
  }
}

@keyframes slide-page-to-left {
  to {
    left: -200px;
  }
}

@-webkit-keyframes slide-to-the-right {
  to {
    left: 40px;
  }
}

@keyframes slide-to-the-right {
  to {
    left: 40px;
  }
}

@-webkit-keyframes slide-to-the-top {
  to {
    bottom: 15%;
  }
}

@keyframes slide-to-the-top {
  to {
    bottom: 15%;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes scroll {
  0% {
    opacity: 0;
    bottom: -50px;
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    opacity: 0;
    bottom: 0px;
  }
}

@keyframes scroll {
  0% {
    opacity: 0;
    bottom: -50px;
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    opacity: 0;
    bottom: 0px;
  }
}
/*# sourceMappingURL=common.css.map */